{% for type, messages in app.flashes(['primary', 'success', 'warning', 'danger', 'error']) %}
    {% set alertClass = {
        'primary': 'primary',
        'success': 'success',
        'warning': 'warning',
        'danger': 'danger',
        'error': 'danger'
    }[type] ?? '' %}

    {% for message in messages %}
        <div class="uk-alert uk-alert-{{ alertClass }}" data-uk-alert>
            <a class="uk-alert-close" data-uk-close></a>
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
{% endfor %}
